.caixa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.caixa > a{
  text-decoration: none;
  color: red;
}

.caixa > a:hover{
  text-decoration: none;
  color: black;
}

body{
  width: 100vw;
  height: 100vh;
}


.texto{
  color: #555;
  font-size: 2rem;
}